body {
    background-color: #333;
    /* overflow: hidden; */
    height: 100vh;
}

/* ================= canvas-container ================= */

.canvas-container {
    position: relative;
}

/* ================= canvas-container list ================= */

.canvas-container #list-right {
    position: absolute;
    top: 0;
    left: 100%;
    padding-left: 12px;
}

.canvas-container #list-right>div {
    width: 150px;
}

.canvas-container #list-bottom {
    position: absolute;
    top: 100%;
    left: 0;
}

.canvas-container #list-right .btn:hover,
.canvas-container #list-bottom .btn:hover {
    background-color: rgba(255, 255, 255, .2);
}

#btn-mute.active {
    /* background-color: rgba(255, 255, 255, 0.3); */
}

/* ================= canvas ================= */

canvas {
    background-color: #222;
}